# Build output
vocab-trainer
vocabulary_trainer
import-hsk 
import-pinyin
import-hanzi
fill-translations
fill-hanzi-translations

# Database
data/

# Go
*.test
*.out

# Editor
.vscode/
.idea/
*.swp
*.swo

# Env
.env
ideas.md

# Node
/node_modules/

# Misc
skills-lock.json
